.arrow {
  width: auto;
  display: flex;
  justify-content: space-around;
}

.currentMonth {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

table th {
  border: 1px solid;
  height: 50px;
  text-align: left;
  vertical-align: baseline;
  background-color: #dddddd;
}

table td {
  border: 1px solid;
  text-align: center;
  height: 100px;
  text-align: left;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.today {
  background-color: cyan;
}

.red {
  background-color: #ffa8a8;
}

/*post.php*/
.post-container {
  width: 1000px;
  margin: 100px auto;
}

.post-contents input {
  display: block;
  width: 50%;
  margin-bottom: 20px;
  height: 35px;
  border-color: black;
}

form {
  width: 800px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid lightgrey;
  background-color: lightgrey;
}

button {
  width: 100px;
  background-color: #000;
  color: #dddddd;
  cursor: pointer;
}

.post-container a {
  text-align: right;
  display: block;
  padding-right: 50px;
  cursor: pointer;
}
