.arrow {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.arrow a {
  font-size: 23px;
  text-decoration: none;
  color: #000;
}

.currentMonth {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

table th {
  border: 1px solid;
  height: 50px;
  text-align: left;
  vertical-align: baseline;
  background-color: #dddddd;
}

table td {
  border: 1px solid;
  text-align: center;
  height: 100px;
  text-align: left;
  vertical-align: baseline;
  width: 100px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.today {
  background-color: cyan;
}

.red {
  background-color: #ffa8a8;
}

/*post.php*/
.post-container {
  width: 1000px;
  margin: 100px auto;
}

.post-contents input {
  display: block;
  width: 50%;
  margin-bottom: 20px;
  height: 35px;
  border-color: black;
}

form {
  width: 800px;
  margin: 100px auto;
  padding: 50px;
  border: 1px solid lightgrey;
  background-color: lightgrey;
  display: block;
  position: relative;
}

.batu::after {
  content: "";
  display: block;
  width: 4%; /*バツ線の長さ*/
  height: 6px; /*バツ線の太さ*/
  background: #000;
  transform: rotate(45deg);
  transform-origin: 0% 50%;
  position: absolute;
  top: calc(7% - 5px);
  left: 4%;
  cursor: pointer;
}

.batu::before {
  content: "";
  display: block;
  width: 4%; /*バツ線の長さ*/
  height: 6px; /*バツ線の太さ*/
  background: #000;
  transform: rotate(45deg);
  transform-origin: 0% 50%;
  position: absolute;
  top: calc(7% - 5px);
  left: 94%;
  cursor: pointer;
}

.batu::after {
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
  left: auto;
  right: 3%;
}

button {
  width: 100px;
  background-color: #000;
  color: #dddddd;
  cursor: pointer;
}

.post-container a {
  text-align: right;
  display: block;
  padding-right: 50px;
  cursor: pointer;
}

.shcedule-container {
  width: 1000px;
  margin: 0 auto;
}

.Gw6Zhc {
  position: fixed;
  top: 80%;
  right: 15%;
  background-color: #fff;
  box-shadow: 0 4px #bbbbbb;
  border-radius: 50%;
  border: 1px solid #eee;
  cursor: pointer;
}

/*modal*/
.modal-container {
  /* margin: 100px auto; */
  display: none;
  background-color: #333;
  opacity: 0.9;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
}

.modal-contents input {
  display: block;
  width: 50%;
  margin-bottom: 20px;
  height: 35px;
  border-color: black;
}

.modal-contents {
  display: block;
  position: relative;
}
