.arrow {
  width: auto;
  display: flex;
  justify-content: space-around;
}

.currentMonth {
  width: 1000px;
  margin: 0 auto;
}

table th {
  border: 1px solid;
}

table td {
  border: 1px solid;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.today {
  background-color: cyan;
}

.red {
  background-color: orangered;
}
